{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="content">
    <div class="info">
        <h1>About Keanna</h1>
        <p>
           My name is Keanna Nicole R. Montero. I am a 3rd year college student studying Information Technology.
            I have discovered that I truly enjoy programming and creating web applications.
            What I love most about technology is how it allows us to solve problems and help people in practical ways.
            This website represents my learning journey and shows some of the skills I have developed using Django.
            I am always eager to learn new things and improve my abilities in web development.
            My goal is to continue growing as a developer and create meaningful digital solutions that can make a positive difference.
        </p>
    </div>
</div>
{% endblock content %}