{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="info">
        <h1>Hey there, I'm Keanna!</h1>
        <img class="myprofile" src="{% static 'images/keannaa.jpg' %}">
        <p>
            Hello and welcome! I am Keanna, and I enjoy creating websites that are both useful and pleasant to visit.
            This website was built using Django, and it shows my progress in learning web development.
            I am currently studying Information Technology and find great satisfaction in solving problems through coding.
            When I'm not studying or working on projects, I like playing games and listening to music.
            I believe that technology should make life better and more enjoyable for everyone.
        </p>
    </div>
</div>

{% endblock content %}

